@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables';
@import './categories-header';
@import './header';
@import './post';
@import './lattice';
@import './neumorphic-button';


@font-face {
    font-family: "Old English";
    src: url('../../../fonts/old-english/EngraversOldEnglish-Med.otf') format("opentype");
}

@font-face {
    font-family: "Old English";
    font-weight: bold;
    src: url('../../../fonts/old-english/EngraversOldEnglish-Bd.otf') format("opentype");
}

:root {
    --background-color: black;
    --text-color: hsl(0, 0%, 100%);
}

@import './sliced-effect';

body {
    //background: #edf2f7;
    background: #e0e5ec;
    max-width: 100%;
    overflow-x: hidden;
}


canvas {
    @apply w-full;
    //height: 100vh;
    //width: 100vw;
  }
