


.categories_container {
    @apply relative flex flex-col items-center h-80 px-2 w-full shadow-gray-700 shadow-t-md;
    //background: #bbb;
    background: #e0e5ec;

    h1 {
        @apply relative text-cyan-800 text-3xl lg:text-4xl font-medium align-middle;
        font-family: "Cormorant Garamond", serif;
    }

    .line {
      @apply w-4/5 h-2 mx-auto mt-1 mb-2 border-dotted border-b-2 border-cyan-800;
      //border-bottom: 1px dashed #f00; /* Параметры линии */
     }
}

.categories_wrapper {
    @apply relative;
    background: #e0e5ec;
    
    ul {
        @apply grid grid-rows-3 md:grid-rows-2 xl:grid-rows-1 grid-flow-col justify-items-center gap-1;
    } 

    &.fixed { /*  */
        @apply flex flex-col items-center w-full px-2 py-2 z-10  shadow-blue-900 shadow-sm;
        position: fixed;
        top: 60px;
        left: 0;
    }
}

.scroll_wrapper {
    @apply absolute bottom-3 md:bottom-14 xl:bottom-24 w-full flex items-center justify-center mt-4;

    span {
        @apply text-sm text-cyan-800;
    }
}

