


.categories_container {
    @apply flex flex-col items-center pt-4 px-2 w-full;
    // shadow-gray-700 shadow-t-md;
    //background: #bbb;
    //background: #e0e5ec;
    background: #edf2f7;

    h1 {
        @apply relative text-3xl lg:text-4xl font-medium align-middle;
        font-family: "Old English", serif;

        letter-spacing: .5em;
        // &:hover {
        //     @apply text-blue-500;
        //     //color: #5091DD;
        // }
        //font-family: "Cormorant Garamond", serif;
    }

   

    .line {
      @apply w-4/5 h-2 mx-auto mt-1 mb-2 border-dotted border-b-2 border-cyan-800;
      //border-bottom: 1px dashed #f00; /* Параметры линии */
     }
}

.insetshadow {
    color: #edf2f7;
    //background-color: #2d2d2d;
    //letter-spacing: .1em;
    text-shadow: 
      -2px -2px 2px #333, 
      2px 2px 2px #fff;
  }


.categories_wrapper {
    @apply relative;
    //background: #e0e5ec;
    background: #edf2f7;
    
    ul {
        @apply py-2 grid grid-rows-3 md:grid-rows-2 xl:grid-rows-1 grid-flow-col justify-items-center gap-1;
    } 

    &.fixed { /*  */
        @apply flex flex-col items-center w-full px-2 z-10 shadow-sm shadow-gray-900; 
        
        position: fixed;
        top: 60px;
        left: 0;
    }
}

.scroll_wrapper {
    @apply absolute bottom-3 md:bottom-14 xl:bottom-24 w-full flex items-center justify-center mt-4;

    span {
        @apply text-sm text-cyan-800;
    }
}
