.site-navigation {
    @apply flex justify-between w-full h-16 bg-white text-gray-700;

    .nav-title {
        @apply flex items-center text-2xl ml-8;
    }

    .nav-content-container {
        @apply
        /* md mode or larger:*/
        md:relative md:flex-row md:items-center 
        md:top-0 md:left-0 
        md:mr-4
        md:mt-0
        md:transition-none
        md:w-auto md:h-auto
        /* tablet/mobile mode */
        absolute flex flex-col-reverse
        justify-end 
        mt-16 left-[-320px] 
        w-64 h-full
        bg-white 
        transition-none
        /*transition-all
        ease-in
        duration-300*/
        ;
        
        &.active {
            @apply left-0;
        }
    }

    ul {
        @apply
        md:items-center 
        md:justify-center
        md:space-x-4 
        md:space-y-0
        md:h-full
        md:flex-row
        md:m-0
        /* */ 
        flex
        ml-8
        my-4
        flex-col 
        items-start 
        justify-start
        space-x-0 
        space-y-2 
        h-auto 
        list-none;
    }

    a {
        @apply no-underline py-5 text-lg hover:text-emerald-700;
    }

    .nav-avatar {
        @apply ml-8 mr-2;
    }

    .nav-avatar-icon {
        @apply flex items-center justify-center w-8 h-8 text-base; 
    }

    .nav-avatar-name {
        @apply text-base;
    }

    .nav-icon-menu {
        @apply md:hidden flex items-center justify-center w-16 h-16 text-2xl cursor-pointer;
    }
}

